{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <meta http-equiv="refresh" content="5" />
{% endblock %}

{% block worker_active %} class="active" {% endblock %}

{% block title %}
 <h1>Instance Monitoring</h1>
{% endblock %}

{% block content %}

<p class="lead">Summary:</p>
<div class="row">
 <div class="col-md-2"><strong>ID:</strong></div>
 <div class="col-md-10">{{ instance_id }}</div>
</div>
<div class="row">
 <div class="col-md-2"><strong>State:</strong></div>
 <div class="col-md-10">{{ instance_state }}</div>
</div>
<div class="row">
 <div class="col-md-2"><strong>Public DNS:</strong></div>
 <div class="col-md-10">
  {% if public_dns %}
   {{ public_dns }}
  {% else %}
   Please wait, instance details will appear when the machine is ready.
  {% endif %}
 </div>
</div>
<div class="row">
 <div class="col-md-2"><strong>Terminate it here:</strong></div>
 <div class="col-md-10"><a href="{{ terminate_url }}">{{ terminate_url }}</a></div>
</div>
<div>

<h3>Your instance will be killed in 24 hours! Be sure to save any work!</h3>
</div>
<br>
<p class="lead">Connecting:</p>
{% if public_dns %}
 <p>
 The default username is <code>ubuntu</code>, so you may SSH into the server
 using a command like:</p>
 <p><span class="no-select"><code>$</code></span><code> ssh -i my-private-key ubuntu@{{ public_dns }}</code></p>
{% else %}
 <p>
 Your server is still launching. Please wait and the SSH connection
 details will appear here when it is ready.
 </p>
{% endif %}

<p>
You may need to wait up to <strong>5 minutes</strong> before
you SSH in, this page will report that the server is ready
before it really is! If you get a &quot;connection refused&quot;
message, please keep trying every couple of minutes.
It will accept connections once all configuration has completed.
</p>

<p class="lead">
 AWS Commandline Tools:
</p>
<p>
 You can use the AWS Commandline Tools to list or fetch Telemetry files.
</p>
<p><span class="no-select"><code>$</code></span><code> aws s3 ls s3://telemetry-published-v1</code></p>

<p class="lead">Further Reading:</p>
<p>
 For an example of how to use this shiny new instance, check out
 <a href="http://mreid-moz.github.io/blog/2013/11/06/current-state-of-telemetry-analysis/">
 :mreid's blog post on the topic</a>.
</p>
<p>
 Or you can read the docs for the
 <a href="https://github.com/mozilla/telemetry-server/blob/master/docs/MapReduce.md">
 Telemetry MapReduce framework</a>.
</p>

<h3> Good luck :)</h3>
{% endblock %}

