<!DOCTYPE html>
<html>
 <head>
  {% block head %}
   <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
   <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
   <script src="https://login.persona.org/include.js" type="text/javascript"></script>
   <script type="text/javascript">{{ auth_script|safe }}</script>
   <title>Telemetry Self-Serve Data Analysis</title>
  {% endblock %}
 </head>
 <body>
  <div id="header"> Telemetry Self-Serve Data Analysis </div>
  <div id="subheader">
   {% block title %}
    Your one stop shop when the dashboards just don't cut it
   {% endblock %}
  </div>
  <div id="content">
   {% if current_user.is_authenticated() %}
    {% if current_user.is_authorized() %}
     {% block content %}
      You are signed in.
     {% endblock %}
    {% else %}
     {% block not_authorized %}
      Sorry, self-serve data analysis is currently limited to <em>@mozilla.com</em> addresses.
      The address you signed in with ({{ current_user.email }}) does not grant you access.
      Please <button id="browserid-logout">Sign out</button> and sign in with an authorized account.
     {% endblock %}
    {% endif %}
   {% else %}
    {% block not_signed_in %}
     <button id="browserid-login">Sign in with Persona</button>
     <p>
      For Ad-hoc data analysis and for scheduling analysis tasks,
      please <strong>sign in</strong> above with an <em>@mozilla.com</em>
      email address.
     </p>
    {% endblock %}
   {% endif %}
  </div>
  <div id="footer">
   {% if current_user.is_authenticated() %}
    <div id="signout"> <button id="browserid-logout">Sign out</button> </div>
   {% endif %}
   {% block footer %} {% endblock %}
   <p>For existing telemetry dashboards, please visit <a href="http://telemetry.mozilla.org">telemetry.mozilla.org</a>.</p>
  </div>
 </body>
</html>
