<html>
    <head>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="https://login.persona.org/include.js" type="text/javascript"></script>
        <script type="text/javascript">{{ auth_script|safe }}</script>
        <title>Telemetry Self-Serve Data Analysis</title>
    </head>
    <body>
 <div id="header"> Telemetry Self-Serve Data Analysis </div>
 <div id="subheader">Your one stop shop when the dashboards just don't cut it</div>
<div id="content">
        {% if current_user.is_authenticated() %}
            <button id="browserid-logout">Sign out</button>
        {% else %}
            <button id="browserid-login">Sign in with Persona</button>
 <p>For Ad-hoc data analysis and for scheduling analysis tasks, please <strong>sign in</strong> above with an <em>@mozilla.com</em> email address.</p>
        {% endif %}

        {% if current_user.is_authenticated() %}
            {% if current_user.is_authorized() %}
                <div id="analysis-nav">
                 Would you like to:<br>
<ul>
 <li>
<a href="/debug"><img width="48" src="{{ url_for('static', filename='worker.png') }}"></img>Launch an ad-hoc analysis worker</a>
</li>
<li>
<a href="/schedule"><img width="48" src="{{ url_for('static', filename='schedule.png') }}"></img>Schedule an analysis job</a>
</li>
</ul>
                </div>
                <br>
                <form
                    action="spawn-debug-instance"
                    method="post"
                    enctype="multipart/form-data">
                    <input type="hidden" name="token" value="{{ token }}">
                    Server Name: <input type="text" name="name"><br>
                    SSH-key: <input type="file" name="public-ssh-key"><br>
                    <input type="submit" name="submit" value="Submit">
                </form>
            {% else %}
                Sorry, self-serve data analysis is currently limited to <em>@mozilla.com</em> addresses.  The address you signed in with ({{ current_user.email }}) does not grant you access.  Please <button id="browserid-logout">Sign out</button> and sign in with an authorized account.
            {% endif %}
        {% endif %}
</div>
<div id="footer">
 <p>For existing telemetry dashboards, please visit <a href="http://telemetry.mozilla.org">telemetry.mozilla.org</a>.</p>
</div>
    </body>
</html>
