<html>
    <head>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="https://login.persona.org/include.js" type="text/javascript"></script>
        <script type="text/javascript">{{ auth_script|safe }}</script>
    </head>
    <body>
        {% if current_user.is_authenticated() %}
            <button id="browserid-logout">Logout</button>
        {% else %}        
            <button id="browserid-login">Login</button>
        {% endif %}

        {% if current_user.is_authenticated() %}
            {% if current_user.is_authorized() %}
                Yes mozilla email
                <br>
                <form
                    action="spawn-debug-instance"
                    method="post"
                    enctype="multipart/form-data">
                    <input type="hidden" name="token" value="{{ token }}">
                    Server Name: <input type="text" name="name"><br>
                    SSH-key: <input type="file" name="public-ssh-key"><br>
                    <input type="submit" name="submit" value="Submit">
                </form>
            {% else %}
                Sorry only mozilla emails...
            {% endif %}
        {% else %}
            Please login...
        {% endif %}
    </body>
</html>