{% extends "base.html" %}
{% block title %}
 <img width="48" src="{{ url_for('static', filename='worker.png') }}"></img>
 Launch an ad-hoc analysis worker
{% endblock %}
{% block content %}
 <br>
 <div class="blurb">
  Launch a server in the cloud and use it for custom data analysis.
  The machine will be available for 24 hours, then it will be automatically
  terminated.
 </div>
 <br>
 <form action="{{ url_for('spawn_worker_instance') }}" method="post" enctype="multipart/form-data">
  <input type="hidden" name="token" value="{{ token }}">
  <table>
   <tr>
    <td class="field-label"> <label> Server Name: </label> </td>
    <td class="field-input">
     <input type="text" name="name" value="{{ current_user.email.split('@')[0] + '-telemetry-analysis' }}"></input>
    </td>
    <td class="field-desc">
     The server name identifies this machine within AWS. Use something short
     like &quot;myname-charset-usage&quot;
    </td>
   </tr>
   <tr>
    <td class="field-label"> <label> SSH Public Key: </label> </td>
    <td class="field-input"> <input type="file" name="public-ssh-key"></input> </td>
    <td class="field-desc"> Your public key file. Usually <code>id_rsa.pub</code>.</td>
   </tr>
  </table>
  <input type="submit" name="submit" value="Submit">
 </form>
{% endblock %}

{% block footer %}
 <a href="{{ url_for('index') }}">Home</a> <br/>
 <a href="{{ url_for('schedule_job') }}">Schedule an analysis job</a>
{% endblock %}
