/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

img {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: #eee;
}

td {
    padding-right: 10px;
}

td.field-desc {
    font-size: 85%;
    color: #555;
    text-align: left;
}

td.field-input {
    text-align: left;
    margin: 10px;
    padding: 10px;
}

td.field-label {
    min-width: 15%;
    font-weight: bold;
    text-align: right;
}

label.error {
    font-size: 85%;
    color: red;
    text-align: left;
}

div.field-error {
    font-size: 85%;
    color: red;
    text-align: left;
    border: 1px dotted red;
}

body {
  /* Padding to leave room for header and footer */
  padding-top: 50px;
  padding-bottom: 80px;
}

.button-margin {
    margin-top: 10px;
}

html {
  position: relative;
  min-height: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #eee;
}
