{% import 'macros.html' as macros with context %}
{% extends "base.html" %}

{% block cluster_active %} class="active" {% endblock %}

{% block title %}
 <h1>Launch an ad-hoc Spark cluster</h1>
 <p>
  <img width="48" src="{{ url_for('static', filename='cluster.png') }}" />
  Launch a Spark cluster in the cloud and use it for custom data analysis.</p>
 <p>
  The cluster will be available for 24 hours, then it will be automatically
  terminated.
 </p>
 <p>
   For a guide of how to do data analysis using Spark, check out
   <a href="http://wp.me/p45GUY-fu">
     :rvitillo's blog post on the topic</a>.
 </p>
{% endblock %}
{% block content %}
 <p class="lead">Launch a cluster:</p>
 <form action="{{ url_for('cluster_spawn') }}" method="post" enctype="multipart/form-data">
  <input type="hidden" name="token" value="{{ token }}">
  <table>
   {% set username = current_user.email.split('@')[0] %}

   {% call macros.make_input('name', 'Cluster Name', 'text', username + '-telemetry-analysis') %}
    The cluster name identifies this cluster within AWS. Use something short
    like &quot;{{ username }}-charset-usage&quot;
   {% endcall %}

   {% call macros.make_input('num_workers', 'Cluster Size', value='1') %}
    The number of workers for this cluster. Please keep in mind to use resources
    sparingly. Use a single worker to write and debug your job.
   {% endcall %}

   {% call macros.make_input('public-ssh-key', 'SSH Public Key', type='file') %}
    Your public key file. Usually <code>id_rsa.pub</code>. This will be appended
    to the server's <code>authorized_keys</code> to grant you SSH access. Do
    <strong>not</strong> upload a private key file.
   {% endcall %}
  </table>
  <input type="submit" class="btn btn-success" name="submit" value="Submit">
 </form>
{% endblock %}
