{% extends "base.html" %}

{% block head %}
{{ super() }}
{% if not (instance_state == "WAITING" or instance_state == "RUNNING") %}
<meta http-equiv="refresh" content="5" />
{% endif %}
{% endblock %}

{% block cluster_active %} class="active" {% endblock %}

{% block title %}
<h1>Cluster Monitoring</h1>
{% endblock %}

{% block content %}
<p class="lead">Summary:</p>
<div class="row">
  <div class="col-md-2"><strong>ID:</strong></div>
  <div class="col-md-10">{{ jobflow_id }}</div>
</div>
<div class="row">
  <div class="col-md-2"><strong>State:</strong></div>
  <div class="col-md-10">{{ instance_state }}</div>
</div>
<div class="row">
  <div class="col-md-2"><strong>Master public DNS:</strong></div>
  <div class="col-md-10">
    {% if public_dns and (instance_state == "WAITING" or instance_state == "RUNNING") %}
    {{ public_dns }}
    {% else %}
    Please wait, instance details will appear when the master is ready.
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-2"><strong>Terminate it here:</strong></div>
  <div class="col-md-10"><a href="{{ terminate_url }}">{{ terminate_url }}</a></div>
</div>
<div class="row">
 <div class="col-md-2"><strong>Terminates automatically at:</strong></div>
 <div class="col-md-10">{{ terminate_time }}</div>
</div>

<div>
  <h3>Your cluster will be killed within {{ terminate_hours_left }} hours! Be sure to save any work!</h3>
</div>
<br>
<p class="lead">Connecting:</p>
{% if instance_state == "WAITING" or instance_state == "RUNNING" %}
<p>
  The default username is <code>hadoop</code>, so you can tunnel your IPython
  notebook using a command like:
</p>
<p>
  <code>ssh -i my-private-key -L 8888:localhost:8888 hadoop@{{ public_dns }}</code>
</p>
<p>
  You can save some typing by adding defaults to your <code>~/.ssh/config</code> file:
</p>
<pre>Host *.compute.amazonaws.com
  User hadoop
  LocalForward 8888 localhost:8888
  Identityfile ~/.ssh/{my-private-key}
</pre>
 To upload an existing notebook, use SCP:
 <p><span class="no-select"><code>$ </code></span><code>scp -i my-private-key some-notebook.ipynb hadoop@{{ public_dns }}:~/analyses</code></p>
 The notebook will then show up in the IPython files list.
<p>
  Now you can launch your <a href="http://localhost:8888" target="_blank">
    IPython notebook</a> from Firefox.
</p>
<p>
  Be aware that <strong>only one notebook can run on your cluster at a time</strong>. To run a second notebook, you must first stop the running notebook via the <a href="http://localhost:8888" target="_blank">iPython home page for your cluster</a>, by choosing File->"Close and Halt" from the running notebook's menu, or by executing "sc.stop()" in the running notebook.
</p>
{% else %}
<p>
  Your cluster is still launching. Please wait and the connection
  details will appear here when it is ready.
</p>
{% endif %}

<p class="lead">Further Reading:</p>
<p>
  For a guide of how to use this shiny new cluster, check out
  <a href="http://wp.me/p45GUY-fu">
    :rvitillo's blog post on the topic</a>.
</p>

<h3> Good luck :)</h3>
{% endblock %}
