{% import 'macros.html' as macros with context %}
{% extends "base.html" %}

{% block cluster_schedule_active %} class="active" {% endblock %}

{% block title %}
<h1>View files for a scheduled Spark job</h1>
{% endblock %}

{% block content %}
{% if files %}
<div class="files">
  <p class="lead">
    View {{ name }} output for job {{ job.id }}: <strong>{{ job.name }}</strong> below.
  </p>
  {% for f in files %}
  <div class="row">
    {% if f.url.endswith(".ipynb") %}
    <p><a href="{{ "http://nbviewer.ipython.org/urls/" + f.url[8:] }}" target="_blank">{{ f.title|default(f.url) }}</a></p>
    {% else %}
    <p><a href="{{ f.url }}">{{ f.title|default(f.url) }}</a></p>
    {% endif %}
  </div>
  {% endfor %}
</div>
<hr/>
{% else %}
<p class="lead">
  There is no {{ name }} output for job <strong>{{ job.name }}</strong> yet.
  Either it hasn't successfully run, or it has always timed out.
  Current time limit is {{ job.timeout_minutes }} minutes.
</p>
{% endif %}
<p>
  <a class="btn btn btn-success" href="{{ url_for('cluster_schedule_job') }}">Go back</a>
</p>
{% endblock %}
