/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html, body {
    background-color: white;
    color: black;
    font-family: Verdana, sans-serif;
}

#header {
    margin: 30px auto 0px auto;
    font-size: 3em;
    text-align: center;
    text-transform: capitalize;
}

#subheader {
    margin: 0px auto;
    font-size: 2em;
    text-align: center;
}

#content {
    margin: 0px auto;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
}

#navbar {
    text-align: center;
    margin: 20px auto;
}

#analysis-nav img {
    vertical-align: middle;
}

#analysis-nav ul {
    list-style-type: none;
}

#analysis-nav li {
    padding: 10px;
    margin: 5px;
}

button {
    margin: 20px;
    font-size: larger;
}

input[type=submit] {
    margin: 20px;
    font-size: larger;
}

table {
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: #eee;
}

td.field-desc {
    font-size: 0.6em;
    color: #555;
    text-align: left;
}

td.field-input {
    text-align: left;
    margin: 10px;
    padding: 10px;
}

td.field-label {
    font-size: 0.8em;
    font-weight: bold;
    text-align: right;
}

label.error {
    font-size: 0.6em;
    color: red;
    text-align: left;
}

div.field-error {
    font-size: 0.6em;
    color: red;
    text-align: left;
    border: 1px dotted red;
}

.blurb {
    padding: 20px;
}
